<section class="container services">
    <div class="row services__holder">
        <div class="col-lg-4 services__holder__smartphone">
            <img
                src="/src/images/services/services-smartphone.png"
                alt="smartphone"
            />
        </div>

        <div class="col-lg-4 services__holder__services">
            <div class="services__holder__services__service">
                <img src="/src/images/services/cart-icon.png" alt="cart" />
                <h5>First 7 days free</h5>
                <p>
                    Vivamus eu enim elit. Sed et felis eu lectus scelerisque
                    accumsan accumsan ut ligula.
                </p>
            </div>

            <div class="services__holder__services__service">
                <img src="/src/images/services/chat-icon.png" alt="chat" />
                <h5>Fully Support</h5>
                <p>
                    Vivamus eu enim elit. Sed et felis eu lectus scelerisque
                    accumsan accumsan ut ligula.
                </p>
            </div>
        </div>

        <div class="col-lg-4 services__holder__services">
            <div class="services__holder__services__service">
                <img src="/src/images/services/design-icon.png" alt="design" />
                <h5>Modern Flat Design</h5>
                <p>
                    Vivamus eu enim elit. Sed et felis eu lectus scelerisque
                    accumsan accumsan ut ligula.
                </p>
            </div>

            <div class="services__holder__services__service">
                <img src="/src/images/services/phone-icon.png" alt="phone" />
                <h5>User Friendly</h5>
                <p>
                    Vivamus eu enim elit. Sed et felis eu lectus scelerisque
                    accumsan accumsan ut ligula.
                </p>
            </div>
        </div>
    </div>
</section>
