<section class="container gettheapp">
    <div class="row gettheapp__holder">
        <div class="col-lg-6 gettheapp__holder__phone">
            <img src="/src/images/gettheapp/smartphoneapp.png" alt="decor" />
        </div>
        <div class="col-lg-6 gettheapp__holder__info">
            <h3>Now Available</h3>
            <p>
                Cras ultricies ligula sed magna dictum porta. Nulla porttitor
                accumsan tincidunt. Vestibulum ac diam sit amet quam vehicula
                elementum sed sit amet dui. quam vehicula elementum sed sit
                ametsuada.
            </p>
            <div class="gettheapp__holder__info__platforms">
                <img src="/src/images/gettheapp/ios.png" alt="ios" />
                <img src="/src/images/gettheapp/google.png" alt="google" />
            </div>
        </div>
    </div>
</section>
