<section class="subscribe container">
    <div class="subscribe__holder row">
        <div class="col-lg-3 subscribe__holder__list">
            <h5>Company</h5>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Press</a></li>
            </ul>
        </div>
        <div class="col-lg-3 subscribe__holder__list">
            <h5>Development</h5>
            <ul>
                <li><a href="#">iOS</a></li>
                <li><a href="#">Android</a></li>
            </ul>
        </div>
        <div class="col-lg-3 subscribe__holder__list">
            <h5>Community</h5>
            <ul>
                <li><a href="#">Social</a></li>
                <li><a href="#">Forum</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
        <div class="col-lg-3 subscribe__holder__list">
            <h5>Info</h5>
            <ul>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col-lg-12 subscribe__holder__getInTouch">
            <h2>Get in Touch</h2>
            <p>
                Subscribe to our newsletter and get notification for upcoming
                cool stuff.
            </p>
            <div class="subscribe__holder__getInTouch__form">
                <form action="submit">
                    <input type="text" />
                </form>
                <button type="button">Count me In</button>
            </div>
        </div>
    </div>
</section>
