@import '/src/styles/globals/utilities';
@import '/src/styles/globals/variables';
@import '/src/styles/globals/mixins';

.header {
    background-image: url('/src/images/header/header-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 100px 50px 200px;

    @include breakpoint(desktop) {
        height: 100vh;
    }

    &::after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        bottom: -5px;
        background-image: url('/src/images/header/header-decoration.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 155px;
        overflow: hidden;

        @include breakpoint(decoration) {
            display: none;
        }
    }

    img {
        display: none;

        @include breakpoint(desktop) {
            // display: none;

            display: initial;
            max-width: 450px;
        }
    }

    &__holder {
        margin: 0;
        width: 100%;
        position: relative;
        top: 128px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-family: $sansSerif;
        color: $white;

        &__title {
            margin-bottom: 30px;
        }

        &__description {
            margin-bottom: 30px;
        }

        &__buttons {
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            // @include breakpoint(desktop) {
            //     display: block;
            //     margin-bottom: 30px;
            // }

            @include breakpoint(tablet) {
                display: block;
                margin-bottom: 30px;
            }

            &--download {
                margin-right: 0;
                margin-bottom: 30px;

                @include breakpoint(tablet) {
                    margin-right: 30px;
                }
            }

            &--contact {
                margin-left: 0;
            }

            button {
                height: 40px;
                width: 168px;
                border-radius: 5px;
                border: solid $white 2px;
                background-color: transparent;
                color: $white;
                font-weight: bold;

                &:hover {
                    background-color: $white;
                    color: $servicesGray;
                    transition: background-color 0.4s, color 0.4s;
                }
            }
        }
    }
}
