<section class="container header">
    <div class="row header__holder">
        <div class="col-lg-6">
            <h1 class="header__holder__title">
                Choose a better way to represent your app.
            </h1>

            <p class="header__holder__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>

            <div class="header__holder__buttons">
                <button class="header__holder__buttons--download" type="button">
                    Download free
                </button>
                <button class="header__holder__buttons--contact" type="button">
                    Contact us
                </button>
            </div>

            <img
                class="header__image"
                src="/src/images/header/header-smartphone.png"
                alt="smartphone"
            />
        </div>
    </div>
</section>
