@import '/src/styles/globals/_variables.scss';
@import '/src/styles/globals/mixins';

.navigation {
    position: absolute;
    width: 100%;
    overflow: hidden;

    &__holder {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__logo {
            width: 100px;
            height: 40px;
            margin: 20px 50px;
            cursor: pointer;
        }

        a {
            text-decoration: none;
            font-family: $sansSerif;
            font-weight: bold;
            color: $white;
        }

        &__list {
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            padding: 10px 20px;

            &--open {
                display: flex !important;
                flex-direction: column;
                padding-top: 50px;
            }

            @include breakpoint(mobile) {
                display: none;
            }

            @include breakpoint(tablet) {
                display: none;
            }

            @include breakpoint(desktop) {
                display: flex;
            }

            li {
                padding: 10px 40px;

                a:hover {
                    transition: color 0.4s;
                }
            }
        }
    }
}
