<nav class="navigation">
    <div class="navigation__holder">
        <img
            href="#"
            class="navigation__holder__logo"
            src="/src/images/navbar/swc-banner.jpg.png"
            alt="logo"
        />

        <ul class="navigation__holder__list">
            <li><a href="#">Home</a></li>

            <li><a href="#">About</a></li>

            <li><a href="#">App</a></li>

            <li><a href="#">Info</a></li>
        </ul>
    </div>
    <div class="menu__btn">
        <div class="menu__btn--burger"></div>
    </div>
</nav>
