<nav class="navigation">
    <div class="navigation__holder">
        <img
            class="navigation__holder__logo"
            src="/src/images/navbar/swc-banner.jpg.png"
            alt="logo"
        />

        <ul class="navigation__holder__list">
            <li class="navigation__holder__list__home"><a href="#">Home</a></li>
            <li class="navigation__holder__list__about">
                <a href="#">About</a>
            </li>
            <li class="navigation__holder__list__app"><a href="#">App</a></li>
            <li class="navigation__holder__list__info"><a href="#">Info</a></li>
        </ul>
    </div>
</nav>
