<div class="footer">
    <div class="footer__rights">
        <span> © 2018 - Appo,All Right Reserved </span>
    </div>
    <div class="footer__socials">
        <img src="/src/images/footer/Facebook.png" alt="facebook" />
        <img src="/src/images/footer/Twitter.png" alt="twitter" />
        <img src="/src/images/footer/Dribble.png" alt="dribble" />
        <img src="/src/images/footer/Google.png" alt="google" />
        <img src="/src/images/footer/Youtube.png" alt="youtube" />
    </div>
</div>
