<section class="container allyouneed">
    <div class="row allyouneed__holder">
        <div class="col-lg-6 allyouneed__holder__decor">
            <img src="/src/images/allyouneed/code-decor.png" alt="code" />
        </div>
        <div class="col-lg-6 allyouneed__holder__content">
            <h3>Eveything You Need</h3>
            <ul>
                <div class="allyouneed__holder__content__wrap">
                    <div class="allyouneed__holder__content__wrap__tick">
                        <img src="/src/images/allyouneed/tick.png" alt="tick" />
                    </div>
                    <li>Android</li>
                </div>
                <div class="allyouneed__holder__content__wrap">
                    <div class="allyouneed__holder__content__wrap__tick">
                        <img src="/src/images/allyouneed/tick.png" alt="tick" />
                    </div>
                    <li>iPhone</li>
                </div>
            </ul>
            <p>
                Cras ultricies ligula sed magna dictum porta. Nulla porttitor
                accumsan tincidunt. Vestibulum ac diam sit amet quam vehicula
                elementum sed sit amet dui. Curabitur aliquet quam id dui
                posuere blandit. Curabitur aliquet quam id dui posuere blandit.
                Vestibulum ac diam sit amet quam.
            </p>
        </div>
    </div>
</section>
