<section class="container download">
    <div class="row download__holder">
        <div class="col-lg-6 download__holder__description">
            <h3>Stable and ready</h3>
            <p>
                Cras ultricies ligula sed magna dictum porta. Nulla porttitor
                accumsan tincidunt. Vestibulum ac diam sit amet quam vehicula
                elementum sed sit amet dui. Curabitur aliquet quam id dui
                posuere blandit. Curabitur aliquet quam id dui posuere blandit.
                Vestibulum ac diam sit amet quam.
            </p>
            <button type="button">Download Now</button>
        </div>
        <div class="col-lg-6 download__holder__perks">
            <div class="download__holder__perks__perk">
                <div class="download__holder__perks__perk__wrap">
                    <img
                        src="/src/images/download/downlaod-hearth-decor.png"
                        alt="Download image heart decoration"
                    />
                    <h5>Made With Love</h5>
                </div>
                <p>
                    Cras ultricies ligula sed magna dictum porta. Nulla
                    porttitor accumsan tincidunt. Vestibulum ac diam.
                </p>
            </div>
            <div class="download__holder__perks__perk">
                <div class="download__holder__perks__perk__wrap">
                    <img
                        src="/src/images/download/free-of-use-decor.png"
                        alt="Download free of use decor."
                    />
                    <h5>Free of Use</h5>
                </div>
                <p>
                    Cras ultricies ligula sed magna dictum porta. Nulla
                    porttitor accumsan tincidunt. Vestibulum ac diam.
                </p>
            </div>
            <div class="download__holder__perks__perk">
                <div class="download__holder__perks__perk__wrap">
                    <img
                        src="/src/images/download/support-decor.png"
                        alt="Support decor."
                    />
                    <h5>Fully Support Available</h5>
                </div>
                <p>
                    Cras ultricies ligula sed magna dictum porta. Nulla
                    porttitor accumsan tincidunt. Vestibulum ac diam.
                </p>
            </div>
            <div class="download__holder__perks__perk">
                <div class="download__holder__perks__perk__wrap">
                    <img
                        src="/src/images/download/flat-and-moder-decor.png"
                        alt="Flat and modern decor."
                    />
                    <h5>Flat and Modern UI & UX</h5>
                </div>
                <p>
                    Cras ultricies ligula sed magna dictum porta. Nulla
                    porttitor accumsan tincidunt. Vestibulum ac diam.
                </p>
            </div>
        </div>
    </div>
</section>
